PUBLIC_URL=http://localhost:8080
DATA_HOST_DIR=./data
DATA_DIR=/data
API_KEY=
METADATA_URL=https://build-metadata.protomaps.dev/builds.json
DOWNLOAD_BASE_URL=https://build.protomaps.com
UPDATE_INTERVAL=720h
